/*##################### 
    Imports
#######################*/

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: 'Santio';
    src: url("../fonts/SANTIO/TTF/Santio\ regular.ttf");
}

@font-face {
    font-family: 'Tangerine';
    src: url("../fonts/Tangerine/Tangerine-Regular.ttf");
}



/*##################### 
    Genereal Properties
#######################*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/Lev3_1_Project_css-vertiefung_roma/cleo-topper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*##################### 
    General Classes
#######################*/
span.underline {
    color: #fff;
    background-color: #000;

}

/*##################### 
    Header
#######################*/
header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    font-family: 'Roboto';

}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}
header nav img {
    height: 3vh;
    width: auto;
    margin: 0vh 2vw;
}
header nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 2vh 0vw;
    margin-right: 5vw;

}
header nav a:hover {
    border-bottom: 2px solid #e7bc0e;
    
}
header h1 {
    color: #efefef;
    font-size: 3rem;
    width: 20vw;
    line-height: 1.5;
    margin: 20vh 10vw;
    
}
/*##################### 
    Main
#######################*/
main {
    background-color: rgba(0, 0, 0, 0.5);

}
main section.scroll {
    height: 100vh;
}
main section.scroll a {
    margin: 0vh 10vw;
    text-decoration: none;
    font-family: 'Tangerine' ;
    font-size: 2rem;
    color: #e7bc0e;

}

main section.info {
    height: 200vh;
    display: flex;
    justify-content: center;
}
main section.info p {
    color: #6bc1a3;
    font-family: 'Roboto';
    font-size: 2rem;
    width: 50vw;
    line-height: 1.5;
    margin-top: 5vh;
}

main section.facts {
    font-family: 'Roboto';
    margin: 0vh 10vw 20vh;
}
main section.facts article {
    margin: 50vh 0vw;
}
main section.facts article img {
    height: 20vh;
    width: auto;
    margin: 5vh 0vw;

}
main section.facts article h2 {
    font-size: 3rem;
}
main section.facts article h2.orange{
    color: #e7bc0e;
    
}
main section.facts article h2.purple {
    color: #cb91b6;
    
}
main section.facts article h2.green{
    color: #6bc1a3;
    
}

main section.facts article h2 span.giant {
    font-size: 6rem;
    display: block;
}


main section.description {
    font-family: 'Roboto';
    padding-bottom: 20vh;

}

main section.description p {
    font-size: 2.5rem;
    color: #7eb8e1;
    margin: 0vh 10vw 0vh auto;
    width: 40vw;
}
/*##################### 
    Footer
#######################*/
footer {
    font-family: 'Santio';
    background-color: #000;
}
footer div {
    background-image: url("../img/Lev3_1_Project_css-vertiefung_roma/see.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
footer div img {
    width: 100%;
}
footer section.donate {
    margin: 20vh 10vw;
}
footer section.donate h2{
    color: #fff;
    font-size: 4rem;
    width: 30vw;
}
footer section.donate a{
    color: #fff;
    border: thin solid #fff;
    padding: 15px 20px;
    margin: 5vh 0vw;
    display: inline-block;
}
footer section.donate a:hover{
    box-shadow: 5px 5px 2px #fff;

}

footer section.pp p {
    color: #fff;
    margin: auto; 
    width: fit-content;  
}
footer section.pp p span.green{
    color: #6bc1a3 ;
}
